/*  font-family: 'Berkshire Swash', cursive;
font-family: 'Almendra SC', serif;
font-family: 'Almendra', serif;*/


body{
    margin: 0;
    background-color: #C0A28D;
    background-image: url(IMG/pattern.png);
    background-repeat: repeat;
}

header,
.hero, 
header button{
    font-family: 'Almendra SC', serif;
    font-weight: 50%;
}


header .row{
    background-color: #B9845B;
}

header .row a,
header .row .blankH{
    width: 20%;
}

li, button{
    font-size: 3vh;
}


header ul{
    height: 5vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 0%;
    background-color: #DB3055;
}

.row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header .row h1{
    font-size: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, #ffffff, #a4a4a4);
    -webkit-background-clip: text;
    -webkit-text-fill-color:transparent;
}

li{
    list-style: none;
}

header ul li a,
header ul button {
    background-color: #B9845B;
    width: 10vw;
    background: linear-gradient(180deg, #004307, #00FF19, #00FF19);
    -webkit-background-clip: text;
    -webkit-text-fill-color:transparent;
    border: none;
}

header ul div a{
    color: #000;
}

/* dropdown content */
.dropdown-content {
    width: 40%;
    display: none;
    background-color: #d74464;
}

.dropdown{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.dropdown:hover
 .dropdown-content 
 {display: block;}

/* margin change */

section{
    margin-left: 23%;
    margin-right: 23%;
}

/* images */
section img {
    width: 25vw;
    height: 50vh;
}

.info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* white bg */
.white-bg{
    background-color: #fff;
}

/* text boxes */
article{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Almendra', serif;
    color: #000;
    font-size: 2.5vh;
}

article p{
    margin-left: 1vw;
    margin-right: 1vw;
}

.me{
    display: flex;
    flex-direction: column;
    width: 25vw;
    height: 50vh;
}



/* curve */

.curve{
    border-radius: 2vh;
}

/* border bottom */
.borderdown{
    border-bottom: .25mm solid black ;
}


.self-img{
    width: 20vw;
}


.Row a,
.Row a img{
    width: 7vh;
    height: 7vh;
    margin-bottom: 0;
}

.Row{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 0%;
}

.Resume li{
    margin-left: 10%;
}

.Resume h5{
    margin-left: 2%;
    font-size: 100%;
}

















/* footer */
footer{
    background-color: #623410;
    background-image: url(/IMG/square.png);
    color: #fff;
    font-family: 'Berkshire Swash', cursive;
    margin-bottom: 0;
    height: 20vh;
}


footer ul{
    margin-bottom: 0;
    display: flex;
}

footer ul li{
    width: 25%; 
}

footer ul li a{
    width: 25%; 
    background: linear-gradient(180deg, #fcdada, #ee1919, #fcdada);
    -webkit-background-clip: text;
    -webkit-text-fill-color:transparent;
}

.Resume{
    margin-left: 17%;
    margin-right: 17%;
}

.Resume article{
    border-radius: 2vw;
    background-color: white;
    flex-direction: column;
    align-items: normal;
}