/*  font-family: 'Berkshire Swash', cursive;
font-family: 'Almendra SC', serif; */

body{
    margin: 0;
    background-color: #C0A28D;
    background-image: url(IMG/pattern.png);
    background-repeat: repeat;
}

header,
.hero, 
header button{
    font-family: 'Almendra SC', serif;
    font-weight: 50%;
}


header .row{
    background-color: #B9845B;
}

header .row a,
header .row .blankH{
    width: 20%;
}

li, button{
    font-size: 3vh;
}


header ul{
    height: 5vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 0%;
    background-color: #DB3055;
}

.row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

header .row h1{
    font-size: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, #ffffff, #a4a4a4);
    -webkit-background-clip: text;
    -webkit-text-fill-color:transparent;
}

li{
    list-style: none;
}

header ul li a,
header ul button {
    font-weight: 800;
    background-color: #B9845B;
    width: 10vw;
    background: linear-gradient(180deg, #004307, #00FF19, #00FF19);
    -webkit-background-clip: text;
    -webkit-text-fill-color:transparent;
    border: none;
}


header ul div a{
    display: flex;
    align-items: center;
    color: #ffffff;
    justify-content: center;
}

/* dropdown content */
.dropdown-content {
    width: 40%;
    display: none;
    background-color: #d74464;
}

.dropdown{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.dropdown:hover
 .dropdown-content 
 {display: block;}

/* margin change */

section{
    margin-left: 23%;
    margin-right: 23%;
}

/* images */
section img {
    width: 25vw;
    height: 50vh;
}

.info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* white bg */
.white-bg{
    background-color: #fff;
    box-shadow: .5vw .5vw #000000;
}

/* text boxes */
article{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
    color: #000;
    font-size: 2.5vh;
}

article p{
    margin-left: 1vw;
    margin-right: 1vw;
}

.me{
    display: flex;
    flex-direction: column;
    width: 25vw;
    height: 50vh;
}



/* curve */

.curve{
    border-radius: 2vh;
}

/* border bottom */
.borderdown{
    border-bottom: .25mm solid black ;
}


.self-img{
    width: 20vw;
}


.Row a,
.Row a img{
    width: 7vh;
    height: 7vh;
    margin-bottom: 3vh;
}

.Row{
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 1em;
}

.Resume li{
    margin-left: 10%;
}

.Resume h5{
    margin-left: 2%;
    font-size: 100%;
}

/* Hero */
.content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 300%;
}

.space-e{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.space-e a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 22%;
    height: 3vh;
    color: #489103;
    text-decoration: none;
    background-image: linear-gradient(180deg, #ffffff, #a4a4a4);
    border-radius: 2vw;
}

.space-e a:hover{
    color: #4c0391;
    background-image: linear-gradient(180deg, #a4a4a4, #ffffff);
}










/* footer */
footer{
    background-color: #623410;
    background-image: url(/IMG/square.png);
    color: #fff;
    font-family: 'Berkshire Swash', cursive;
    margin-bottom: 0;
    height: fit-content;
}


footer nav{
    margin-bottom: 0;
    display: flex;
}

footer nav a{
    width: 25%; 

}

footer nav a{ 
    margin-top: 2vw;
    display: flex;
    justify-content: center;
    width: 25%; 
    background: linear-gradient(180deg, #fcdada, #ee1919, #fcdada);
    -webkit-background-clip: text;
    -webkit-text-fill-color:transparent;
    font-size: 150%;
}


/* Resume */

.Resume{
    margin-left: 17%;
    margin-right: 17%;
}

.Resume article{
    border-radius: 2vw;
    background-color: white;
    flex-direction: column;
    align-items: normal;
}


.Content{
    margin-left: 20%;
    margin-right: 20%;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
}

.Content h5{
    font-size: 2.5vh;
    text-align: center;
}

.C-Area h2{
    width: 100%;
}

input{
    width: 15vw;
}

/* .message{
    width: 15vw;
    text-align:start;
    height: 96%;
} */

.Small-Text{
    width: 50%;
    margin-bottom: 0%;
}


* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: yellow;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
    background-color: black;
  color: yellow;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}